.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.msg-erro {
  color: red;
  font-size: 12px;
  clear: both;
  position: relative;
}

.butto {
  margin-left: 27vw;
}
