<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formProduto">

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input formControlName="nome"></ion-input>
          <ng-container *ngFor="let erro of mensagens.nome">
            <span
              class="msg-erro"
              *ngIf="formProduto.get('nome').hasError(erro.tipo) && (formProduto.get('nome').dirty || formProduto.get('nome').touched)"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descrição</ion-label>
          <ion-input formControlName="descricao"></ion-input>
          <ng-container *ngFor="let erro of mensagens.descricao">
            <span
              class="msg-erro"
              *ngIf="formProduto.get('descricao').hasError(erro.tipo) && (formProduto.get('descricao').dirty || formProduto.get('descricao').touched)"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Validade</ion-label>
          <br>
          <ion-input type="date" formControlName="validade"></ion-input>
          <ng-container *ngFor="let erro of mensagens.validade">
            <span
              class="msg-erro"
              *ngIf="formProduto.get('validade').hasError(erro.tipo) && (formProduto.get('validade').dirty || formProduto.get('validade').touched)"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Preço</ion-label>
          <ion-input formControlName="preco"></ion-input>
          <ng-container *ngFor="let erro of mensagens.preco">
            <span
              class="msg-erro"
              *ngIf="formProduto.get('preco').hasError(erro.tipo) && (formProduto.get('preco').dirty || formProduto.get('preco').touched)"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>

        <br>

        <ion-button class="butto" color="secondary" (click)="salvarProduto()">Salvar</ion-button>

      </ion-card-content>
    </ion-card>

  </form>
</ion-content>
