<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
login ou criaçao de conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <div class="ion-text-center">
<ion-card>
  <ion-card-header>
    selecione uma das opçoes abaixo
   </ion-card-header>
      <ion-button fill="clear">
        <ion-item routerLink="/login">
          fazer Login
        </ion-item>

     </ion-button>







  <ion-button fill="clear">
    <ion-item routerLink="/registro">
      fazer registro
    </ion-item>

 </ion-button>
</ion-card>

</div>


</ion-content>
