<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
Página Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <div class="ion-text-center">
<ion-card>
  <ion-card-header>
    <img alt="Silhouette of mountains" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4Fd9x?ver=4725" />
    <ion-card-title style="font-family: fantasy">Comece Agora</ion-card-title>
    <ion-card-subtitle>Selecione uma das Opções Abaixo</ion-card-subtitle>
   </ion-card-header>
      <ion-button fill="clear">
        <ion-item routerLink="/login">
          Fazer Login
        </ion-item>

     </ion-button>




  <ion-button fill="clear">
    <ion-item routerLink="/registro">
      Fazer Registro
    </ion-item>

 </ion-button>
</ion-card>

</div>


</ion-content>
