<ion-header>

</ion-header>

<ion-content>



        <ion-card>
          <ion-card-header>
            <ion-card-title>registro</ion-card-title>
            <ion-card-subtitle>complete as informaçoes abaixo para realizar o seu registro </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>

            <ion-list>
              <ion-item>
                <ion-label>nome</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>cpf</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>email</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>senha</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <br>
              <ion-item>

                <ion-input placeholder="confirmo os dados inseridos "></ion-input>
              </ion-item>
            </ion-list>
            <ion-grid>
              <ion-row>
                <ion-button>salvar  </ion-button>


                    <ion-button>
                      voltar
                    </ion-button>

                  </ion-item>

              </ion-row>
            </ion-grid>


          </ion-card-content>
        </ion-card>













</ion-content>
